<span class="twcss-flex-none twcss-w-4 icon-moro twcss-duration-800 twcss-ease-out-expo twcss-opacity-50 {% if counterwise %}
    group-hover:-twcss-rotate-180
{% else %}
    group-hover:twcss-rotate-180
{% endif %} twcss-transition-all">
  {% render 'icon-moro' %}
</span>